<tr class="rown">
  <td>
    <%= form.text_area :product, class: "form-control", required: true %>
  </td>

  <td>
    <%= form.text_field :hsn_code, class: "form-control"%>
  </td>

  <td class="<%= 'hide' unless @bill.is_gst? %>">
    <%= form.number_field :amount_before_tax,  class: "form-control", min: (@bill.is_gst? ? 1 : 0), step: 0.01, onchange: "calculationHandler(this)" %>
  </td>

  <td class="<%= 'hide' unless @bill.is_gst? %>">
    <%= form.number_field :cgst, class: "form-control", step: 0.01, onchange: "calculationHandler(this)" %>
  </td>

  <td class="<%= 'hide' unless @bill.is_gst? %>">
    <%= form.number_field :sgst, class: "form-control", step: 0.01, onchange: "calculationHandler(this)" %>
  </td>

  <td class="<%= 'hide' unless @bill.is_gst? %>">
    <%= form.number_field :igst, class: "form-control", step: 0.01, onchange: "calculationHandler(this)" %>
  </td>

  <td>
    <%= form.number_field :amount, class: "form-control", step: 0.01, min: 1, onchange: "amountHandler(this)", required: true, readonly: @bill.is_gst? ? true : false %>
  </td>

  <td>
    <%= form.hidden_field :_destroy %>
    <%= link_to '<i class="fa fa-trash delete-icon" title="Delete"></i>'.html_safe, "#", class: "remove_record" %>
  </td>
</tr>
