<div class="form-group row">
  <div class= "col-md-4 col-sm-4 col-form-label">
    <%= f.label :amount, class: "required"%>
  </div>
  <div class="col-md-8 col-sm-8">
    <%= f.text_field :amount, class: "form-control", required: "true", autocomplete: :off %>
  </div>
</div>
<div class="form-group row">
  <div class= "col-md-4 col-sm-4  col-form-label">
    <%= f.label :transaction_on, t('.transaction_on'), class: "required" %>
  </div>
  <div class="col-md-8 col-sm-8">
    <%= f.text_field :transaction_on, value: f.object.transaction_on ? l(f.object.transaction_on) : '', class: "form-control datepicker",  placeholder: "dd/mm/yyyy", required: true, autocomplete: :off %>
  </div>
</div>
<div class="form-group row">
  <div class= "col-md-4 col-sm-4 col-form-label">
    <%= f.label :beneficiary_user, class: "required"%>
  </div>
  <div class="col-md-8 col-sm-8 ">
    <%= f.collection_select :beneficiary_user_id, User.all, :id, :name_or_email, { prompt: "Select" }, class: "form-control", required: true %>
  </div>
</div>
